@media only screen and(min-width: 900px) {
    .imgBox{
        height: auto;
        min-height: 500px;
        position: relative;
        width: 800px;
        right: 50%;
        left: 50%;
        margin-top: 4em; 
        margin-left: -400px; 
        margin-right: -400px;
        margin-bottom: 5em;
        border-radius: 8px;
        border: 1px solid #dadce0;
        transition: delay 0.5s;
        transition: width 1s;
    }
    .innerImg{
        display: inline-block;
        display: flex;
    }
}

@media only screen and(max-width: 900px) {
    .imgBox{
        position: relative;
        width: 498px;
        height: auto;
        min-height: 500px;
        right: 50%;
        left: 50%;
        margin-top: 4em; 
        margin-left: -246px;
        margin-bottom: 5em;
        border-radius: 8px;
        border: 1px solid #dadce0;
        transition: width 0.5s;
    }

}
.outerLogin {

    padding: 48px 40px 36px;

}

.fundooNotesLogo {
    background-image: linear-gradient(to left, green, rgb(9, 136, 209), yellow, red, rgb(20, 137, 214));
    font-weight: bold;

    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
}

.LoginAccount {
    padding-top: 16px;
    text-align: center;
}
.LoginMessage {
    color: #494a4d;
    padding-bottom: 0;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
}

.loginForm {
    padding: 24px 0 0;

    margin-left: 25%;
    margin-right: 25%;
    width: 50%;

}


.emailId {
    padding-top: 24px;
    display: flex;
    justify-content: center;
}

.password {
    display: inline-block;
    display: flex;
    justify-content: center;
}


.signInSignUp {
    display: inline-block;
    display: flex;
}

.forgot {
    direction: ltr;
    white-space: normal;
    font-family: roboto, 'Noto Sans Myanmar UI', arial, sans-serif;
    box-sizing: inherit;
    border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-align: left !important;
    border: 0;
}

.Login {
    margin-top: 48px;
    margin-left: auto;
    margin-right: 0;

}

.signUp {
    margin-top: 48px;
    margin-left: auto;
    margin-right: 0;

}
