.notesCard{
    color: #202124;
    direction: ltr;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 15px;
    pointer-events: auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    transition-duration: 0.218s;
    transition-property: background,border,opacity,box-shadow,transform;
    transition-timing-function: ease-in;
    background-color: #fff;
    border-color: #e0e0e0;
    
}
.add-notes{
  color: #202124;
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 15px;
  
}
.note-cards{
  color: #202124;
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 15px;
  background-color: transparent;
  margin: 0 auto;
  pointer-events: none;
  width: 752px;
  padding: 20px;
}

.create-note{
  -webkit-font-smoothing: antialiased;
  font-family: Roboto,system,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Arial,sans-serif;
  font-size: 16px;
  color: #202124;
  line-height: 1.5;
  box-sizing: inherit;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9
}
.create-form{
  -webkit-font-smoothing: antialiased;
  font-family: Roboto,system,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Arial,sans-serif;
  font-size: 16px;
  color: #202124;
  line-height: 1.5;
  box-sizing: inherit;
}


input,
textarea {
  width: 100%;
  display: block;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: transparent
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .5);
  font-family: Product Sans, system, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, .5);
  font-family: Product Sans, system, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, .5);
  font-family: Product Sans, system, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px
}

input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, .5);
  font-family: Product Sans, system, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px
}

input {
  font-family: Product Sans, system, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px
}

textarea {
  font-family: Roboto, system, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Arial, sans-serif;
  resize: none;
  line-height: 1.5;
  min-height: 5em;
  max-height: 50vh;
  width: 100%
}
